.header {
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: burlywood;
  z-index: 2;
  align-items: center;

  .title-container {
    min-width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 24px;

    .title {
      margin: 10px;
    }
  }

  .left {
    width: 30%;
    margin: 0 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;


      .button {
        margin: 10px;
        background-color: deepskyblue;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        font-weight: bold;
        border: 0px;
      }
    }

    .home-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .home-button {
        margin: 10px;
        padding: 10px;
        width: 100px;
        font-weight: bold;
        border: 1px solid;
        background-color: burlywood;
        border-radius: 10px;
      }
    }
  }

}

.main-events {
  .events-container {
    margin: 50px auto;
    max-width: 800px;

    .event-details {
      position: relative;
      border: 1px solid;
      margin: 20px;
      border-radius: 10px;
      padding: 20px;

      .event-info {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: yellow;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        font-weight: bold;
      }

      .event-join {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: deepskyblue;
        border-radius: 10px;
        padding: 10px;
        width: 100px;
        font-weight: bold;
      }

      .event-name {
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
      }

      .event-description {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}

.event-flex-container {
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .title {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
  }

  .information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .image-container {
      height: 20rem;
      width: 400px;
      background-image: url("../../images/java.jpg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .location-container {
      height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;

      .location {
        background-color: lightblue;
        border: 1px solid;
        border-radius: 5px;
        padding: 20px;
      }
    }
  }

  .summary-container {

    .summary {
      max-width: 800px;
      padding: 20px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      min-height: 20rem;
      flex-direction: column;
      background-color: lightblue;
      border: 1px solid;
      border-radius: 5px;
    }
  }

  .attendees-container {

    .participants {
      max-width: 800px;
      margin: auto;
      padding: 20px;

      .attendees {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        .participant {
          margin: 5px;
          border: 1px solid;
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
  }

  .comments-container {

    .comments {
      margin: auto;
      max-width: 800px;
      display: flex;
      flex-direction: column;

      .comment {
        max-width: 300px;
        background-color: lightgrey;
        padding: 10px;
        margin: 5px;
        font: italic 12px normal;
        border: 1px solid;
        border-radius: 5px;
        box-shadow: 5px 5px darkgrey;
      }
    }
  }
}

.event-create-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  max-width: 1080px;
  margin: 1rem auto;

  .image-container {
    justify-self: center;
    .event-image {
      height: 200px;
      align-content: center;
    }
  }

  .event-creation {
    padding: 20px;
    border: solid 1px #61dafb;
    border-radius: 5px;

    > input, > div {
      display: block;
      width: 100%;
      margin-top: 1em;
    }

    :first-child {
      margin-top: 0;
    }

    > input {
      line-height: 1.5em;
      padding: 1em
    }

    .create-event {
      margin-top: 20px;
      background-color: deepskyblue;
      border-radius: 10px;
      padding: 10px;
      width: 100px;
      font-weight: bold;
      border: 0px;
    }

    .full-description {
      width: 100%;
      padding: 1em 0;
      margin-top: 1em;
      border-color: lightgrey;
    }

    .date {
      padding: 1em 0;
      width: 100%;
    }

  }

  .past-events {
    align-self: start;
    border: solid 1px deepskyblue;
    border-radius: 5px;
    padding: 20px;
    min-width: 50px;
  }
}

@media (min-width: 50em) {
  .event-create-container {
    grid-template-columns:  1fr 2fr 1fr;
  }
}