.simple-article-body {
  display: flex;
  align-items: flex-start;
  background-color: beige;
  border-radius: 20px;

  .article-image {
    min-width: 40%;
    max-width: 40%;
    text-align: center;

    img {
      margin: 10px;
      height: 150px;
      text-align: center;
    }
  }

  .article-details {
    flex-basis: auto;
    flex-grow: 1;
    margin: auto;

    .title {
      padding: 10px 0px;
      font-weight: bold;
    }

    .notes {
      padding: 10px 0px;
    }
  }
}

